%input{:onclick => "initMap()", :type => "button", :value => "Encode"}/
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=ENV[Google_Maps_API_KEY]&callback=initMap"}
#gmap{style:"height:400px;width:600px"}

