.my-page
  .my-page__header
  .my-page__main
    .my-page__main__photo-area
    .my-page__main__container
      .my-page__main__container__profile
        .my-page__main__container__profile__photo
          =image_tag "350132_s.jpg",class:"photo"
        .my-page__main__container__profile__name
          =@user.nickname

      %ul.mypage-lists 
        - if user_signed_in? && current_user.id == @user.id && current_user.address.present?
          %li.mypage-list
            =link_to 'プロフィールを編集', edit_address_path(@address), class: 'mypage-list__item shipping'
        - elsif user_signed_in? && current_user.id == @user.id
          %li.mypage-list
            =link_to 'プロフィールを登録', new_address_path, class: 'mypage-list__item shipping'
        - else
          %li.mypage-list
      .my-page__main__container__my-lists
        - @posts.zip(@images).each do |post,image| 
          .my-page__main__container__my-lists__list
            .my-page__main__container__my-lists__list__photo
              = image_tag image.first.image_url, class:"list-photo"
            .my-page__main__container__my-lists__list__content
              =link_to post_path(post), class:"item-detail" do
                .my-page__main__container__my-lists__list__content__item-name
                  = post.title
                .my-page__main__container__my-lists__list__content__date
                  投稿日時:
                  = post.created_at.to_s(:datetime_jp)



