.item-header{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  z-index: 10;
  &__category{
    width: 100%;
    padding: 17px 0 16px;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    color: black;
    &__list{
      font-size: 14px;
      padding: 0 10px 0 0;
      text-align: center;
      color: black; 
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        color: #3CCACE;
      }
      .icon{
        color: inherit
      }
    }
  }
}
.item-main{
  width: 100%;
  background: #f8f8f8;
  &__container{
    padding: 40px;
    margin: 0 auto;
    width: 700px;
    margin: 0 auto;
    &__header{
      padding: 24px 40px 40px;
      font-weight: bold;
      font-size: 21px;
      background-color: #fff;
      text-align: center;
    }
    &__photo{
      width: 560px;
      height: 443px;
      margin-top: 16px;
      align-items: center;
      margin: 0 auto;
      .item-photo{
        object-fit: cover;
        width: 100%;
        align-items: center;
        height: 100%;
      }
    }
    &__price{
      width: 620px;
      margin: 24px 0 24px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      span{
        font-size: 35px;
        font-weight: 1200;
        font-family: sans-serif;
      }
    }
    &__text{
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 100;
      text-align: center;
    }
    &__table{
      width: 620px;
      table{
        width: 100%;
        box-sizing: border-box;
        font-weight: 100;
        tbody{
          font-size: 14px;              
          tr.test1{
            border: 1px solid #dedede;  
            height: 14px;
            th{
              width: 20%;
              padding: 10px 0;
              border: 1px solid #dedede;
              text-align: center;
              background-color: #eee;
            }
            td{
              width: 61%;
              padding-left: 15px;
                                  
            }
          }
          tr.test2{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 20%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test3{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test4{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test5{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test6{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test7{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }
          tr.test8{
            height: 14px;
            border: 1px solid #dedede; 
            th{
              width: 20%;
              padding: 10px 0;
              font-size: 14px;
              text-align: center;
              background-color: #eee;
            }    
            td{
              width: 61%;
              font-size: 14px;
              padding-left: 15px;
            }
          }



        }
      }
    }
  }
  &__below{
    display: flex;
    &__back{
      padding-left: 12px;
    }
  }
}
#map{
  margin: 0 auto;
}
